<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DBPath" value="WAD.db3"/>
    <add key="HzNum" value="1"/>
    <add key="CmmDelay" value="100"/>
    <add key="HzUnit" value="秒"/>
    <add key="SavePeriod" value="5"/>
    <add key="SaveUnit" value="分钟"/>
    <add key="Range" value="30"/>
    <add key="PortName" value="COM14"/>
    <add key="User" value="1"/>
    <add key="SoundPath" value="ALARM1.WAV"/>
    <add key="lastSensor" value=""/>
    <add key="lastGas" value=""/>
    <add key="ip" value="192.168.0.53"/>
    <add key="port" value="5671"/>
    <add key="localPort" value="6666"/>
    <add key="delay" value="3000"/>
    <add key="delay2" value="50"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
