<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="HzNum" value="5"/>
    <add key="CmmDelay" value="20"/>
    <add key="CommandOutTime" value="500"/>
    <add key="Range" value="30"/>
    <add key="PortName" value="COM5"/>
    <add key="PortRate" value="9600"/>
    <add key="User" value="1"/>
    <add key="SoundPath" value="ALARM1.WAV"/>
    <add key="lastSensor" value=""/>
    <add key="lastGas" value=""/>
    <add key="DataCenterIP1" value="192.168.0.53"/>
    <add key="DataCenterPort1" value="5671"/>
    <add key="DataCenterST1" value=""/>
    <add key="DataCenterCN1" value=""/>
    <add key="DataCenterPW1" value=""/>
    <add key="DataCenterIP2" value="192.168.0.53"/>
    <add key="DataCenterPort2" value="5671"/>
    <add key="DataCenterST2" value=""/>
    <add key="DataCenterCN2" value=""/>
    <add key="DataCenterPW2" value=""/>
    <add key="IsOldVersion" value="false"/>
    <add key="IsOlden" value="false"/>
    <add key="AgreementType" value="协议2"/>
    <add key="Language" value="中文"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
