<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DBPath" value="WAD.db3"/>
    <add key="HzNum" value="5"/>
    <add key="CmmDelay" value="100"/>
    <add key="HzUnit" value="秒"/>
    <add key="SavePeriod" value="5"/>
    <add key="SaveUnit" value="分钟"/>
    <add key="Range" value="30"/>
    <add key="PortName" value="COM11"/>
    <add key="User" value="1"/>
    <add key="SoundPath" value="ALARM1.WAV"/>
    <add key="lastSensor" value=""/>
    <add key="lastGas" value=""/>
    <add key="tbxserverIp" value=""/>
    <add key="tbxPort" value=""/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
